DATABASES = {
     'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'openelections-dashboard',
        'USER': 'postgres',
        'PASSWORD': 'postgres',
        'HOST': 'localhost',
        'PORT': '5432',
     }
}
# Generate your own here: http://www.miniwebtool.com/django-secret-key-generator/
SECRET_KEY = ''
