[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
argparse = "==1.2.1"
django-extensions = "==3.0.5"
django-grappelli = "==2.14.2"
django-localflavor = "==1.0"
django-tastypie = "==0.14.3"
ipython = "==0.13"
mimeparse = "==0.1.3"
psycopg2 = "==2.8.5"
python-memcached = "*"
Django = "==3.1.12"
South = "==0.8.2"
django-debug-toolbar = "*"
django-heroku = "*"
gunicorn = "*"
dj_database_url = "*"

[requires]
python_version = "3.7"
